@import '../../../../sass/_abstract/_variables.scss';

.customInput {
  font-family: $global-font-inter;
  border: none;
  outline: none;
  background-color: #fafafb;
  max-width: 100%;
  font-size: px-to-rem(32);
  color: #030235;
}

.customInput::placeholder {
  color: #d0d3d8;
}
