@import "./_abstract/_variables.scss";
body {
  position: relative;
  line-height: 1.2;
  cursor: default;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $global-background-color;
}

* {
  touch-action: manipulation;
  box-sizing: border-box;
}

img {
  user-select: none;
}

#root{
  height: 100% !important;
}

html{
  height: 100% !important;
}

body{
  max-height: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

//.ant-picker-input {
//  input {
//    color: red !important;
//  }
//}
.ant-picker {
  border: $global-border-default-input;
  cursor: pointer;
  transition: all .4s;
  &:hover:not(.ant-picker-focused) {
    border: $global-border-default-input;
  }
  input {
    font-family: $global-font-inter !important;
    color: $color-text-not-focused !important;
    font-weight: 400 !important;
    font-size: px-to-rem(16);
    line-height: 24px;
  }
  &-focused{
    border: $global-border-focus-input !important;
    color: $color-text-primary !important;
    box-shadow: none !important;
    input {
      color: $color-text-primary !important;
    }
  }
}