@import "../../../../../sass/_abstract/_variables.scss";
.item{
  color: $color-sidebar-item;
  width: 97%;
  font-family: $global-font-inter;
  font-weight: 500;
  font-size: px-to-rem(17);
  line-height: px-to-rem(24);
  cursor: pointer;
  padding: px-to-rem(8) px-to-rem(16) px-to-rem(8) px-to-rem(24);
  transition: .3s;
  border-radius: 0 px-to-rem(24) px-to-rem(24) 0;
  position: relative;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info{
    display: flex;
    gap: px-to-rem(8);
    div{
      display: flex;
    }
  }
  &__icon{
    margin-top: px-to-rem(1);
  }
  &:hover{
    color: $color-white;
    background-color: $background-color-sidebar-item-hover;
  }
}
.children{
  position: absolute;
  left: px-to-rem(4)
}