@import "../../../../../../sass/_abstract/_functions.scss";
@import "../../../../../../sass/_abstract/_variables.scss";
.optionList{
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  padding: px-to-rem(8);
  box-shadow: 0 24px 38px rgba(47, 53, 57, 0.03), 0 9px 46px rgba(71, 116, 138, 0.02), 0 11px 15px rgba(95, 137, 158, 0.04);
  border-radius: px-to-rem(8);
  position: absolute;
  z-index: 9;
  width: 100%;
}