@import "../../../sass/_abstract/_variables.scss";
.item{
  padding: px-to-rem(20);
  border: px-to-rem(1) solid $global-border-color;
  display: flex;
  height: 300px;
  border-radius: px-to-rem(5);
  text-align: center;
  font-weight: 600;
}