@import '../../../../sass/_abstract/functions';
@import '../../../../sass/_abstract/variables';
.select {
  position: relative;
  z-index: 10;
  .label {
    font-family: $global-font-inter;
    color: $color-label;
    font-weight: 500;
    line-height: 24px;
    font-size: px-to-rem(15);
    margin-bottom: px-to-rem(5);
    text-align: left;
  }
  &__button {
    width: 100%;
    padding: px-to-rem(16) px-to-rem(20);
    outline: none;
    text-align: left;
    background-color: transparent;
    border: $global-border-default-input;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: px-to-rem(12);
    font-family: $global-font-inter;
    font-size: px-to-rem(16);
    line-height: px-to-rem(24);
    color: $color-text-not-focused;
    transition: 0.3s;
    cursor: pointer;
    span {
      color: inherit;
    }
    &_active {
      border: $global-border-focus-input;
      color: $color-text-primary;
    }
  }
}
