@import '../../../../sass/_abstract/functions';
@import '../../../../sass/_abstract/variables';
.layout {
  background-color: $color-white;
  padding: px-to-rem(95) px-to-rem(84) px-to-rem(65) px-to-rem(84);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 24px 38px rgba(47, 53, 57, 0.03), 0 9px 46px rgba(71, 116, 138, 0.02),
    0 11px 15px rgba(95, 137, 158, 0.04);
  border-radius: px-to-rem(28);
  height: 100%;
  max-height: px-to-rem(750);
  width: 100%;
  max-width: px-to-rem(647);
  justify-content: space-between;
  position: relative;
}
