@import '../../../../../sass/_abstract/functions';
@import '../../../../../sass/_abstract/variables';
.connect{
  display: flex;
  flex-direction: column;
  gap: px-to-rem(80);
  height: 100%;
  &__wrapper__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: px-to-rem(10);
  }
  &__title{
    font-family: $global-font-inter;
    font-size: px-to-rem(32);
    line-height: px-to-rem(40);
    color: $color-text-primary;
    letter-spacing: px-to-rem(-0.24);
    font-weight: 500;
  }
  &__description{
    font-family: $global-font-inter;
    font-size: px-to-rem(15);
    line-height: px-to-rem(20);
    color: $color-text-gray;
    display: flex;
    flex-direction: column;
    gap: px-to-rem(3);
    &__email{

    }
  }
  &__form {
    max-width: px-to-rem(512);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: px-to-rem(85);
    &__inputs{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: px-to-rem(10);
      div{
        width: px-to-rem(16);
        border: 1px solid $global-border-color;
        height: fit-content;
      }
    }
  }
  &__receive{
    font-family: $global-font-inter;
    font-weight: 400;
    font-size: px-to-rem(15);
    line-height: px-to-rem(22);
    color: $color-text-primary;
    display: flex;
    flex-direction: column;
    gap: px-to-rem(15);
    &__timer{
      span{
        font-family: $global-font-inter;
        font-weight: 600;
        font-size: px-to-rem(28);
        line-height: px-to-rem(40);
        color: $color-text-primary;
      }
    }
    &__text{
      display: flex;
      gap: px-to-rem(5);
      button{
        font-family: $global-font-inter;
        font-weight: 600;
        font-size: px-to-rem(15);
        line-height: px-to-rem(22);
        color: $color-text-primary;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: none;
      }
      span{
        font-family: $global-font-inter;
        font-weight: 400;
        font-size: px-to-rem(15);
        line-height: px-to-rem(24);
        color: $color-text-primary;
      }
    }
  }
}