@import '../../../../sass/_abstract/functions';
@import '../../../../sass/_abstract/variables';
.button {
  font-family: $global-font-inter;
  font-weight: 500;
  font-size: px-to-rem(16);
  line-height: px-to-rem(24);
  color: $color-white;
  background-color: $primary-background-color;
  outline: none;
  width: 100%;
  border: none;
  border-radius: px-to-rem(10);
  padding: px-to-rem(16) px-to-rem(24);
  cursor: pointer;
  transition: 0.2s;
  &_disabled {
    background-color: rgba($primary-background-color, 0.4);
  }
}
