@import "./_functions.scss";
//Colors
$color-white: #ffffff;
$color-black: #000;
$color-text-primary: #030235;
$color-very-light-gray: #F8F8F8;
$color-light-gray: #EBEBEB;
$color-pale-gray: rgba(89, 100, 118, 0.16);
$color-label: #6B6E85;
$color-text-not-focused: #98A0AD;
$color-error-input: #ECACA5;
$color-text-gray: #6B6E85;
$color-valid-border: #9EE2B8;
$color-no-valid-border: #ECACA5;
$color-agreement-link: #2466C5;
$color-preview-mobile: #2466C5;
$color-text-mobile: #414157;
$color-slider-no-active-dot: #EBEBED;
$color-slider-active-dot: #030235;
//Fonts
$global-font-inter: 'Inter UI', sans-serif;

//Backgrounds
$global-background-color: #FAFAFB;
$primary-background-color: #030235;
$hover-background-color: #FAFAFB;
$helper-background-light-gray-color: $color-light-gray;

//Shadows
$shadow-auth:
        drop-shadow(px-to-rem(0) px-to-rem(4) px-to-rem(4) rgba($color-black, 0.25))
        drop-shadow(px-to-rem(0) px-to-rem(4) px-to-rem(4) rgba($color-black, 0.25));
//Borders color
$global-border-color: #030235;

//Borders
$global-border-default-input: px-to-rem(2) solid $color-pale-gray;
$global-border-focus-input: px-to-rem(2) solid $global-border-color;
$global-border-error-input: px-to-rem(2) solid $color-error-input;
$border-valid: px-to-rem(2) solid $color-valid-border