@import './_functions.scss';
//Colors
$color-white: #ffffff;
$color-black: #000;
$color-text-primary: #030235;
$color-very-light-gray: #f8f8f8;
$color-light-gray: #ebebeb;
$color-pale-gray: rgba(89, 100, 118, 0.16);
$color-label: #6b6e85;
$color-text-not-focused: #98a0ad;
$color-error-input: #ecaca5;
$color-text-gray: #6b6e85;
$color-valid-border: #9ee2b8;
$color-no-valid-border: #ecaca5;
$color-agreement-link: #2466c5;
$color-preview-mobile: #2466c5;
$color-text-mobile: #414157;
$color-slider-no-active-dot: #ebebed;
$color-slider-active-dot: #030235;
$color-exception: #ef2d2d;
$color-sidebar-item: #d0d3d8;

$color-label-green: #6c9883;
$color-label-red: #af7e7a;

//Fonts
$global-font-inter: 'Inter UI', sans-serif;

//Backgrounds
$color-label-green-background: #e7f5f1;
$color-label-red-background: #f5e8e7;
$global-background-color: #fafafb;
$primary-background-color: #030235;
$hover-background-color: #fafafb;
$helper-background-light-gray-color: $color-light-gray;
$background-color-sidebar: #080721;
$background-color-sidebar-item-hover: #16152b;
//Shadows
$shadow-auth: drop-shadow(px-to-rem(0) px-to-rem(4) px-to-rem(4) rgba($color-black, 0.25))
  drop-shadow(px-to-rem(0) px-to-rem(4) px-to-rem(4) rgba($color-black, 0.25));
//Borders color
$global-border-color: #030235;

//Borders
$global-border-default-input: px-to-rem(2) solid $color-pale-gray;
$global-border-focus-input: px-to-rem(2) solid $global-border-color;
$global-border-error-input: px-to-rem(2) solid $color-error-input;
$border-valid: px-to-rem(2) solid $color-valid-border;
