@import '../../../../../../sass/_abstract/functions';
@import '../../../../../../sass/_abstract/variables';
.option{
  background-color: $color-white;
  padding: px-to-rem(6) px-to-rem(8);
  font-family: $global-font-inter;
  font-size: px-to-rem(14);
  line-height: px-to-rem(14);
  outline: none;
  border: none;
  color: $color-text-primary;
  text-align: left;
  font-weight: 400;
  cursor: pointer;
}