@import '../../../../../sass/_abstract/functions';
@import '../../../../../sass/_abstract/variables';
.formDetails{
  &__wrapper__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: px-to-rem(10);
  }
  &__title{
    font-family: $global-font-inter;
    font-size: px-to-rem(32);
    line-height: px-to-rem(40);
    color: $color-text-primary;
    letter-spacing: px-to-rem(-0.24);
    font-weight: 500;
  }
  &__description{
    font-family: $global-font-inter;
    font-size: px-to-rem(15);
    line-height: px-to-rem(20);
    color: $color-text-gray;
  }
  &__form {
    max-width: px-to-rem(480);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: px-to-rem(28);
  }
  &__button{
    font-family: $global-font-inter;
    font-weight: 500;
    font-size: px-to-rem(16);
    line-height: px-to-rem(24);
    color: $color-white;
    background-color: $primary-background-color;
    outline: none;
    width: 100%;
    border: none;
    border-radius: px-to-rem(10);
    padding: px-to-rem(16) px-to-rem(24);
    cursor: pointer;
  }
  &__login{
    font-family: $global-font-inter;
    font-weight: 400;
    font-size: px-to-rem(15);
    line-height: px-to-rem(22);
    color: $color-text-primary;
    display: flex;
    gap: px-to-rem(4);

    button{
      font-family: $global-font-inter;
      font-weight: 600;
      font-size: px-to-rem(15);
      line-height: px-to-rem(22);
      color: $color-text-primary;
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: none;
    }
  }
  &__agreement{
    margin-top: px-to-rem(32);
    font-family: $global-font-inter;
    color: $color-text-gray;
    font-weight: 400;
    font-size: px-to-rem(15);
    line-height: px-to-rem(20);
    text-align: left;
    span {
      display: inline;
    }
    span + span {
      margin-left: 4px;
      color: $color-agreement-link;
      text-decoration: underline;
    }
  }
}